.bundle
.env
.ruby-version
.sass-cache

#ignore a bunch of twitter-text crap, including all the pkg old versions
public/vendor/twitter-text/lib
public/vendor/twitter-text/test
public/vendor/twitter-text/pkg/twitter-text-1.[0-6].*
public/vendor/jquery-timeago/vendor
public/vendor/jquery-timeago/test
public/vendor/jquery-timeago/locales/*
!public/vendor/jquery-timeago/locales/jquery.timeago.en-short.js
