section#rankings
  ul#data
  br style="clear:both"

div#detailview.modal.hide.fade.disable-avatars tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  div.modal-header
    button.close type="button" data-dismiss="modal" aria-hidden="true" title="close" &times;
    a#openbtn.close title="open in new tab"
      i.icon-external-link.fake-close
    h3.emojifont-restricted EMOJI NAME
    div#requester.alert.alert-info.hidden nobody
    dl
      dt unified id
      dd#uid
        tt sdf
      dt shorthand
      dd#shorthand
        code ?
      dt popularity
      dd#rank.badge.badge-info #-
  div.modal-body
    h4
      a href="http://twitter.com" target="_blank"
        i.icon-twitter
      | live tweets&nbsp;
      i.icon-refresh.icon-spin title="tweets are streaming live from twitter, no need to refresh"
    ul#tweet_list.icons-ul
  div.modal-footer
    div.foot-buttons
      span.twitter
        span#tweetbtn
      span.json
        a#jsonbtn.btn.btn-mini href="#" target="new"
          li.icon-code &nbsp;get details as json

div#disclaimer.modal.hide.fade tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  div.modal-header
    h3 Epilepsy Warning
  div.modal-body
    p
     | <strong>emojitracker</strong> is an experiment in realtime visualization of all emoji symbols used on twitter.
    p it updates at the speed of updates on twitter in realtime, and thus contains rapidly updating visuals that may possibly cause problems for those sensitive to such things?  I'm not sure, but I don't want to risk it, so here is a warning!
  div.modal-footer
    a#okbtn.btn.btn-primary href="#" data-dismiss="modal" Proceed
    a.btn href="#" data-dismiss="modal" No thanks

javascript:
  var benchmark_mode = #{@benchmark_mode};
  var kiosk_mode  = #{@kiosk_mode};
coffee:
  @popDetails = (char_id, requester = undefined, requester_profile_url = undefined) ->
    $.get("/api/details/#{char_id}", (response) ->
      #populate details for template
      $('#detailview h3').html "#{emoji.replace_unified(response.char)} #{response.char_details.name}"
      $('#detailview #uid tt').text response.char_details.unified
      $('#detailview #shorthand code').text ":#{response.char_details.short_name}:"
      $('#detailview #rank').text "\##{response.popularity_rank}"
      $('#detailview #openbtn').prop 'href', "/details/#{char_id}"
      $('#detailview #jsonbtn').prop 'href', "/api/details/#{char_id}"

      #construct permalink url
      permalink = "http://emojitracker.com/details/#{char_id}" #document.URL + "details/#{char_id}"

      #only show requester in kiosk mode
      if requester?
        $('#detailview #requester').html("Display requested by <strong>@#{requester}</strong>. <img width='48' height='48' src='#{requester_profile_url}'>")
        $('#detailview #requester').removeClass('hidden')
        $('#detailview #requester').show()
      else
        $('#detailview #requester').hide()

      #replace tweet button with new one
      $('#tweetbtn').empty()
      twttr.widgets.createShareButton(
        permalink,
        document.getElementById('tweetbtn'),
        null,
        {
          dnt: true,
          count: 'horizontal',
          hashtags: 'emojitracker',
          related: 'rocketws,mroth',
          text: "#{response.char_details.name} #{response.char}, ranked \##{response.popularity_rank} out of 842"
        }
      )

      #populate the list of historic  tweets
      emptyTweetList()
      for tweet in response.recent_tweets.reverse()
        appendTweetList tweet

      #popup the modal
      $('#detailview').modal({ keyboard: true })

    , "json")
    startDetailStreaming(char_id)

  $ ->
    refreshUIFromServer ->
      console.log "UI refreshed"

      # show tooltip
      # disable for now, too many thingies and degrades performance!
      #$('.emoji_char').tooltip({'placement':'top', 'trigger':'hover'})

      # intercept clicks for popup modal instead
      unless @iOS
        $('#data').click (event) ->
          $tgt = $ event.target
          $a = $tgt.closest('a')
          return unless $a.length
          event.preventDefault()
          clicked_id = $a.data('id')
          popDetails(clicked_id)

      #configure the details popup modal
      $('#detailview').on 'hide', ->
        stopDetailStreaming()

      # let's go crazy
      unless benchmark_mode or kiosk_mode
        if $.cookie("emojitracker_disclaimer") == "OK"
          console.log "Disclaimer agreed to, starting automatically"
          startScoreStreaming()
        else
          $('#disclaimer').modal({ keyboard: true, backdrop: 'static' })
          $('#okbtn').click ->
            $.cookie("emojitracker_disclaimer", "OK", { expires: 365 })
            startScoreStreaming()
          $('#disclaimer').keypress (event) ->
            $('#okbtn').click() if (event.keyCode == 13)

      $(window).unload ->
        stopScoreStreaming(false)
