/* CSS hacks for a 1080p projector kiosk mode */
/* lets just override the main.css with changes here */

/* small mode */
body.kiosk.small {
  .emoji_char {
    width: 73px;
    padding-right: 5px;
    white-space: nowrap;
  }
  .emoji_char > .char {
    font-size: 20px;
    line-height: 16px;
  }
  .emoji_char > .score {
     padding-left: 0px;
     padding-right: 0px;
     margin-left: -1px;
     font-size: 0.7em;
  }

  // adjust margins
  #data {
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 1910px; //FORCE WIDTH FOR NOW TO AVOID REFLOW BUG?
  }
}

/* tile mode */
body.kiosk.tiles {
  .emoji_char {
    width: 36px;
    padding: 6px;
  }
  .emoji_char > .char {
    font-size: 32px;
  }
  .emoji_char > .score {
    display: none;
  }
  // adjust margins
  #data {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* word tile mode */
body.kiosk.numtiles {
  .emoji_char {
    height: 32px
  }
  .emoji_char > .score {
    display: block;
    position: relative;
    bottom: 2px;
    right: -2px;

    padding-left: 0;
    padding-right: 0;

    word-wrap: break-word;
    text-align: right;
    font-size: 0.5em;
    line-height: 1.0;
    opacity: 0.8;
  }
}


/* generic for both small and tile 1080p modes */
body.kiosk.small, body.kiosk.tiles {
  // drop header and footer
  .navbar,#footer {
    display: none;
    opacity: 0;
  }

  // make some big ass modals
  .modal {
    width: 1560px;
    margin-left: -780px;
  }
  .modal-body {
    max-height: 600px;
  }
  .modal-header h3 {
    line-height: 32px;
    font-size: 32px;
  }
  blockquote p {
    font-size: 32px;
  }

  // darken highlight a bit for projector -- dont bother for eyebeam projector
  // .highlight_score_update_trans {
  //   background-color: darken(lightgreen, 10%);
  // }

  // show requester information!
  #detailview #requester {
    float: right;
    font-size: xx-large;
    line-height: 180%;
  }
}

/* generic for all modes */
body.kiosk {
  // drop footer only
  #footer {
    display: none;
    opacity: 0;
  }
  hr {
    display: none;
  }

  //get rid of dropdown in header
  .navbar .dropdown {
    display: none;
  }

  // get rid of modal footer buttons, lead offsite
  .foot-buttons {
    display: none;
  }
  // dont show modal new-tab
  #openbtn {
    display: none;
  }

}