/* CSS hacks for a 1080p projector kiosk mode */
/* lets just override the main.css with changes here */

/* small mode */
body.kiosk.small {
  .emoji_char {
    width: 73px;
    padding-right: 5px;
    white-space: nowrap;
  }
  .emoji_char > .char {
    font-size: 16px;
  }
  .emoji_char > .score {
     padding-left: 0px;
     padding-right: 0px;
     font-size: 0.7em;
  }

  // adjust margins
  #data {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* tile mode */
body.kiosk.tiles {
  .emoji_char {
    width: 36px;
    padding: 6px;
  }
  .emoji_char > .char {
    font-size: 32px;
  }
  .emoji_char > .score {
    display: none;
  }
  // adjust margins
  #data {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* generic for all modes */
body.kiosk {
  // drop header and footer
  .navbar,#footer {
    display: none;
    opacity: 0;
  }
  // make some big ass modals
  .modal {
    width: 1560px;
    margin-left: -780px;
  }
  .modal-body {
    max-height: 600px;
  }
  .modal-header h3 {
    line-height: 32px;
    font-size: 32px;
  }
  blockquote p {
    font-size: 32px;
  }
  // get rid of modal footer buttons, lead offsite
  .foot-buttons {
    display: none;
  }
  // dont show modal new-tab
  #openbtn {
    display: none;
  }
}