@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

.emoji_char {
  width: 100px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  color: black;
}
.emoji_char > .char {
  font-size: 16px;
}
.emoji_char > .score {
   padding-left: 10px;
}
.emoji_char:hover {
  @include box-shadow(inset 0 0 30px pink);
  @include transition(all 0s);
}
.highlight_score_update {
  @include animation(highlight 0.75s linear);
}
@include keyframes(highlight) {
  from {
    color: red;
    background-color: lightgreen;
    // opacity: 1.0;
  }
}

.styled_tweet {
  color: gray;
  background-color: transparent;
}
.styled_tweet a {
  color: gray;
  opacity: 0.3;
}
.styled_tweet.new {
  @include animation(highlight_content 0.75s ease-out)
}
@include keyframes(highlight_content) {
  from {
    background-color: #ffc;
  }
}

.fake-close {
  font-size: 14px;
  margin-right: 4px;
}

/* we want to stick the byline in a span and apply this so the text-indent in emoji-css works */
#byline {
  text-align: left;
}

/***************************************
 * secret disco mode!
 ***************************************/
#discoball {
  width: 310px;
  height: 350px;
  background-image: url('http://mroth.info/disco/discoball.gif');
  background-color: transparent;
  position: fixed;
  top: -350px;
  left: 50%;
  margin-left: -155px;
  z-index: 10;
  @include transition(top 2s linear);
}
#discoball.in-position {
  top: 0px;
}
body.disco {
  background-color: #1b1b1b;
}
.emoji_char.disco {
  opacity: 0.1;
}
.highlight_score_update.disco {
  @include animation(disco-highlight 0.75s linear);
}
@include keyframes(disco-highlight) {
  from {
    color: red;
    background-color: lightgreen;
    opacity: 0.9;
  }
}

/* imported from iamcal/emoji.css */
span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
img.emoji {
  width: 1em;
  height: 1em;
}

