@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

.emoji_char {
  width: 100px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  color: black;
}
.emoji_char > .char {
  font-size: 16px;
}
.emoji_char > .score {
   padding-left: 10px;
}
.emoji_char:hover {
  @include box-shadow(inset 0 0 30px pink);
  @include transition(all 0s);
}
.highlight_score_update {
  @include animation(highlight 0.75s linear 0.0s);
}
@include keyframes(highlight) {
  from {
    color: red;
    background-color: lightgreen;
  }
}

.styled_tweet {
  color: gray;
  background-color: transparent;
  @include transition(background-color 1s ease-out);
}
.styled_tweet a {
  color: gray;
  opacity: 0.3;
}
.styled_tweet.new {
  background-color: #ffc;
}
.fake-close {
  font-size: 14px;
  margin-right: 4px;
}

/* we want to stick the byline in a span and apply this so the text-indent in emoji-css works */
#byline {
  text-align: left;
}
