/***************************************
 * convenience mixins to avoid browser prefixing mess
 ***************************************/
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

/***************************************
 * generic transition keyframes
 ***************************************/
@include keyframes(fadein) {
  from { opacity: 0; }
}
@include keyframes(highlight_content) {
  from { background-color: #ffc; }
}

/***************************************
 * related to the main display grid
 ***************************************/
.emoji_char {
  width: 100px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  color: black;
  @include transition(color 0.75s linear, background-color 0.75s linear, opacity 0.75s linear);
}
.emoji_char > .char {
  font-size: 16px;
}
.emoji_char > .score {
   padding-left: 10px;
   font-size: 0.96em;
}
.emoji_char:hover {
  @include box-shadow(inset 0 0 30px pink);
  @include transition(box-shadow 0s);
}
.highlight_score_update_trans {
  color: red;
  background-color: lightgreen;
  @include transition(all 0s);
}
.highlight_score_update_anim {
  @include animation(highlight 0.75s linear);
}
@include keyframes(highlight) {
  from {
    color: red;
    background-color: lightgreen;
  }
}

/***************************************
 * stuff for how tweets appear in the detail views
 ***************************************/
.styled_tweet {
  color: gray;
  background-color: transparent;
}
.styled_tweet a {

}
.styled_tweet a.icon {
  color: black;
  opacity: 0.2;
}
.styled_tweet a.icon:hover {
  opacity: 0.4;
  text-decoration: none;
}
.styled_tweet strong {
  color: #555;
}
.styled_tweet .intents {
  // margin-left: 20px;
}

.styled_tweet.new {
  @include animation(highlight_content 0.75s ease-out);
}
#detailview:not(.disable-avatars) .styled_tweet.new .tweet-details,
    #tweets:not(.disable-avatars) .styled_tweet.new .tweet-details {
  opacity: 1;
  @include animation(fadein 0.75s);
}

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: lightgrey;
  vertical-align: middle;
}
//use below to turn these off for now since bandwidth of loading images is too extreme!
.disable-avatars .avatar {
  background-image: none !important;
  display: none !important;
}
// use media queries to ensure the avatars dont load on mobile phones no matter what
// need to set background-image to none !important otherwise browser loads in background anyhow
@media (min-width:768px) and (max-width:979px) {
  .avatar {
    background-image: none !important;
    display: none;
  }
}

.intents {
  float: right;
  margin-right: 0.3em;
  opacity: 0;
}
li.styled_tweet:hover .intents {
  opacity: 1;
}

.screen_name {
  font-size: smaller;
  color: #999;
}
.timeago {
  font-size: smaller;
  color: #999;
}
.timestamp {
  float: right;
  opacity: 0;
}
.timestamp > a {
  text-decoration: none;
}
li.styled_tweet:hover .timestamp {
  opacity: 1;
}
a.combo_name:hover {
  text-decoration: none;
}
a.combo_name:hover .name {
  color: #0088cc;
  text-decoration: underline;
}
/* override default bootstrap blockquote to make slightly smaller */
blockquote p {
  font-size: 16px;
}

.fake-close {
  font-size: 14px;
  margin-right: 4px;
}
.icon-refresh {
  color: lightgray;
}
.icon-twitter {
  color: #49f;
  margin-right: .2em;
}
a:hover .icon-twitter {
  text-decoration: none;
}
/* fuck it lets just force proper alignment of the damn twitter button */
.modal-footer .twitter-count-horizontal {
  position: relative;
  top: 6px;
  left: 22px;
}
.navbar .twitter-share-button {
  position: relative;
  top: 10px;
  // left: 32px;
}
.navbar .twitter-follow-button {
  position: relative;
  top: 10px;
  margin-right: 4px;
}
/* we want to stick the byline in a span and apply this so the text-indent in emoji-css works */
#byline {
  text-align: left;
}

/***************************************
 * some hacks for iphone display
 ***************************************/
@media only screen and (min-device-width : 320px) and (max-device-width: 1024px) {
  .navbar {
    display: none;
  }
  body {
    padding-left: 2px;
    padding-right: 2px;
  }
  #data {
    margin-left: 0;
    margin-right: 0;
    margin-top: -7px;
  }
  .emoji_char {
    padding-right: 4px;
    width: 70px; /* override for specific phones to be perfect! */
  }
  .emoji_char > .char {
    line-height: 16px;
  }
  .emoji_char > .score {
    font-size: 0.6em;
    padding-left: 0px;
    padding-right: 0px;
  }
}
// iphone portrait
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: portrait) {
    .emoji_char {
      width: 70px !important;
    }
}
// iphone 5 landscape √
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: landscape) {
    .emoji_char {
      width: 71px !important;
    }
}
// iphone 3-4s landscape √
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: landscape) {
    .emoji_char {
      width: 70px !important;
    }
}
// ipad portrait √
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    .emoji_char {
      width: 67px !important;
    }
}
// ipad landscape √
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .emoji_char {
      width: 76px !important;
    }
}


/***************************************
 * secret disco mode!
 ***************************************/
#discoball {
  width: 310px;
  height: 350px;
  background-image: url('/disco/discoball.gif');
  background-color: transparent;
  position: fixed;
  top: -350px;
  left: 50%;
  margin-left: -155px;
  z-index: 10;
  @include transition(top 2s linear);
}
#discoball.in-position {
  top: 0px;
}
body.disco {
  background-color: #1b1b1b;
}
.emoji_char.disco {
  opacity: 0.1;
}
.highlight_score_update_trans.disco {
  opacity: 0.9;
}
.highlight_score_update_anim.disco {
  @include animation(disco-highlight 0.75s linear);
}
@include keyframes(disco-highlight) {
  from {
    color: red;
    background-color: lightgreen;
    opacity: 0.9;
  }
}

/* imported from iamcal/emoji.css */
span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
img.emoji {
  width: 1em;
  height: 1em;
}

/* imported from mroth/emojistatic */
/* no longer importing restricted, using variants instead! */
.emojifont {
  font-family: 'AppleColorEmoji';
}
