@font-face {
  font-family: 'AppleColorEmojiRestricted';
  src: local('AppleColorEmoji');
  unicode-range: U+1F300-1F5FF,U+1F600-1F64F,U+1F680-1F64F,U+2600-27FF;
}
.emojifont {
  font-family: 'AppleColorEmoji';
}
.emojifont-restricted {
  font-family: AppleColorEmojiRestricted, Helvetica;
}
.emoji_char {
  width: 100px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  -webkit-transition: all 0.75s linear 0.1s;
  transition: all 0.75s linear 0.1s;
  color: black;
}
.emoji_char > .char {
}
.emoji_char > .score {
   padding-left: 10px;
}
.highlighted {
  background-color: lightgreen;
  color: red;
  -webkit-transition: all 0s;
  transition: all 0s;
}


#tweets li {
  color: gray;
}
