.emoji_char {
  width: 100px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 20px;
  -webkit-transition: color 0.75s linear 0.1s, background-color 0.75s linear 0.1s;
  transition: color 0.75s linear 0.1s, background-color 0.75s linear 0.1s;
  color: black;
}
.emoji_char > .char {
  font-size: 16px;
}
.emoji_char > .score {
   padding-left: 10px;
}
.highlighted {
  background-color: lightgreen;
  color: red;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.emoji_char:hover {
  -webkit-box-shadow: inset 0 0 30px pink;
  -webkit-transition: all 0s;
}
/* we want to stick the byline in a span and apply this so the text-indent in emoji-css works */
#byline {
  text-align: left;
}


.styled_tweet {
  color: gray;
  background-color: transparent;
  -webkit-transition:background-color 1s ease-out;
  transition:background-color 1s ease-out;
}
.styled_tweet a {
  color: gray;
  opacity: 0.3;
}
.styled_tweet.new {
  background-color: #ffc;
}
.fake-close {
  font-size: 14px;
  margin-right: 4px;
}